@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}
<!-- page-title -->
<div class="page-title" style="background-image: url('@Url.Content("~/content/images/section/page-title.jpg")');">
    <div class="container-full">
        <div class="row">
            <div class="col-12">
                <h3 class="heading text-center">Login</h3>
            </div>
        </div>
    </div>
</div>
<!-- /page-title -->
<!-- login -->
<section class="flat-spacing">
    <div class="container">
        <div class="login-wrap">
            <div class="left">
                <div class="heading">
                    <h4>Login</h4>
                </div>
                <form asp-action="LoginWithPassword" method="post" id="passwordLoginForm" class="form-login form-has-password">
                    <div class="wrap">
                        <fieldset class="">
                            <input class="" type="number" placeholder="Mobile number*" name="Mobile" tabindex="2" value="" aria-required="true" required="">
                        </fieldset>
                        <fieldset class="position-relative password-item">
                            <input class="input-password" type="password" placeholder="Password*" name="password" id="password" tabindex="2" value="" aria-required="true" required="">
                            <span class="toggle-password unshow">
                                <i class="icon-eye-hide-line"></i>
                            </span>
                        </fieldset>
                        <div class="d-flex align-items-center justify-content-between">
                            <button class="tf-btn btn-fill" type="submit">
                                <span class="text text-button">Login</span>
                            </button>
                            @* <a href="forget-password.html" class="font-2 text-button forget-password link">Forgot Your Password?</a> *@
                        </div>
                    </div>
                </form>
            </div>
            <div class="right">
                <h4 class="mb_8">New Customer</h4>
                <p class="text-secondary">Be part of our growing family of new customers! Join us today and unlock a world of exclusive benefits, offers, and personalized experiences.</p>
                <a href="@Url.Action("Register", "Account")" class="tf-btn btn-fill"><span class="text text-button">Register</span></a>
            </div>
        </div>
    </div>
</section>
<!-- /login -->